div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: aliceblue;
    border: 1px solid black;
    padding: 5px;
}

#mode{
    background-color: black;
    color: white;
}