div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: aliceblue;
    border: 1px solid black;
    padding: 5px;
}

#mode{
    background-color: black;
    color: white;
}

/* we can change modes via two diff classes like
.dark{
bgc: black;
clr: white;
}
.light{
bgc:white;
clr:black;
}
*/